# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Editors
.idea/
.vscode/

# trash
docking/trash_bin/
SILVR/silvr_projects/trash_bin

# large data files 
docking/results/CASP16/Autotaxin/OE_docking
docking/results/CASP16/Autotaxin/vina_docking
docking/results/CASP16/Autotaxin_metal/OE_docking
docking/results/CASP16/Autotaxin_metal/vina_docking
docking/results/CASP16/Cathepsin_G/OE_docking
docking/results/CASP16/Cathepsin_G/vina_docking
docking/results/CASP16/Chymase/OE_docking
docking/results/CASP16/Chymase/vina_docking
docking/results/CASP16/Mpro_dimer/OE_docking
docking/results/CASP16/Mpro_dimer/vina_docking
docking/results/CASP16/Mpro_dimer_2/OE_docking
docking/results/CASP16/Mpro_dimer_2/vina_docking
docking/results/CASP16/Mpro_monomer/OE_docking
docking/results/CASP16/Mpro_monomer/vina_docking

docking/results/leakypdb_test_OE/without_water/leakypdb_test_6R8O_to_4PYY
docking/results/leakypdb_test_vina/without_water/leakypdb_test_6R8O_to_4PYY
docking/results/leakypdb_vina/leakypdb_6R8O_to_3E9I

# same things but in the source directory
msc_project_data/docking_results/CASP16/Autotaxin/OE_docking
msc_project_data/docking_results/CASP16/Autotaxin/vina_docking
msc_project_data/docking_results/CASP16/Autotaxin_metal/OE_docking
msc_project_data/docking_results/CASP16/Autotaxin_metal/vina_docking
msc_project_data/docking_results/CASP16/Cathepsin_G/OE_docking
msc_project_data/docking_results/CASP16/Cathepsin_G/vina_docking
msc_project_data/docking_results/CASP16/Chymase/OE_docking
msc_project_data/docking_results/CASP16/Chymase/vina_docking
msc_project_data/docking_results/CASP16/Mpro_dimer/OE_docking
msc_project_data/docking_results/CASP16/Mpro_dimer/vina_docking
msc_project_data/docking_results/CASP16/Mpro_dimer_2/OE_docking
msc_project_data/docking_results/CASP16/Mpro_dimer_2/vina_docking
msc_project_data/docking_results/CASP16/Mpro_monomer/OE_docking
msc_project_data/docking_results/CASP16/Mpro_monomer/vina_docking
msc_project_data/docking_results/leakypdb_test_OE/without_water/leakypdb_test_6R8O_to_4PYY
msc_project_data/docking_results/leakypdb_test_vina/without_water/leakypdb_test_6R8O_to_4PYY
msc_project_data/docking_results/leakypdb_vina/leakypdb_6R8O_to_3E9I

SILVR/silvr_projects/results
SILVR/silvr_projects/experiments
SILVR/silvr_projects/shapegauss
SILVR/silvr_projects/docking_data
SILVR/silvr_projects/oe_docking_data

# same thing 
msc_project_data/silvr_results/exp_[0-9]*/
msc_project_data/silvr_results/shapeguass
msc_project_data/silvr_results/docking_data

# CASP16
docking/__MACOSX
docking/CASP16.zip
docking/Fig 6.ipynb

# Temporary files
oe_docking_leakypdb_tmp/results
oe_docking_leakypdb_tmp/vina
tmp_exp_docking/
tmp_oe_mpro_docking/
tmp_vina_mpro_docking/
